<template>
  <div class="hello">
    Hi. I am cool.
    <p><hello-country @message="receiveMessage($event)"/></p>
  <ul>
    <li v-for="msg in messages" :key="msg">
      {{ msg }}
    </li>
  </ul>
  </div>
</template>

<script>
import HelloCountry from "./HelloCountry.vue";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data: function() {
    return {
      messages: []
    };
  },
  methods: {
    receiveMessage: function(msg) {
      this.messages.push(msg);
    }
  },
  components: {
    "hello-country": HelloCountry
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
h3 {
  margin: 40px 0 0;
}

// ul {
//   list-style-type: none;
//   padding: 0;
// }

// li {
//   display: inline-block;
//   margin: 0 10px;
// }

a {
  color: #42b983;
}
</style>
