<template>
<div class="hello-country">
    I am a man in a country.

    <button v-on:click="sendBack">
        Send me back!
    </button>
</div>
</template>

<script>
export default {
  name: "HelloCountry",
  methods: {
    sendBack: function() {
      console.log("I will emit!");
      return this.$emit("message", "Hello Mr. World!");
    }
  }
};
</script>
