<template>
    <div class="webhook-card">
        <button class="btn btn-light" @click="updateHabitica">Update</button>
        <div class="card webhook-info">
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>URL</td>
                        <td><input type="text" v-model="webhook.url" /></td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>
                            <select v-model="webhook.type">
                                <option disabled value="">Please select one</option>
                                <option v-for="type in allowedTypes" :key="type">{{ type }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Label</td>
                        <td><input type="text" v-model="webhook.label" /></td>
                    </tr>
                    <tr>
                        <td>Enabled?</td>
                        <td> <input type="checkbox" v-model="webhook.enabled" /> {{ webhook.enabled }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
// import _ from "lodash";

export default {
  props: ["webhook", "api"],
  data: function() {
    return {
      webhookAsString: "",
      lastValidWebhookAsString: {},
      allowedTypes: [
        "taskActivity",
        "groupChatReceived",
        "userActivity",
        "questActivity"
      ]
    };
  },
  methods: {
    updateHabitica: async function() {
      try {
        await this.api.put(
          `user/webhook/${this.webhook.id}`,
          this.editWebhookBody
        );
      } catch (error) {
        console.log(error);
      }
    }
  },
  computed: {
    computedWebhook: function() {
      try {
        const parsedJson = JSON.parse(this.webhookAsString);
        return parsedJson;
      } catch (error) {
        return this.lastValidWebhookAsString;
      }
    },
    editWebhookBody: function() {
      return {
        url: this.webhook.url,
        label: this.webhook.label,
        enabled: this.webhook.enabled,
        type: this.webhook.type,
        options: this.webhook.options
      };
    }
  },
  created: function() {
    this.webhookAsString = JSON.stringify(this.webhook);
  }
};
</script>

<style lang="css" scoped>
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.webhook-info {
  max-width: 50em;
  margin: auto;
}

.raw-data {
  text-align: left;
}
</style>
