<template>
    <div class="webhooks-list">
        <ul>
            <li v-for="webhook in webhooks" :key="webhook.id">
                <webhook-card :api="api" :webhook="webhook" />
            </li>
        </ul>
    </div>
</template>

<script>
import WebhookCard from "./WebhookCard.vue";

export default {
  props: ["webhooks", "api"],
  components: {
    WebhookCard
  }
};
</script>
