<template>
    <div class="webhook-request-notifier card card-primary">
        <div class="card-body">
            <h5 class="card-title">Loading status</h5>
            <span v-if="lastLoaded">Last loaded at {{ lastLoaded }}</span>
            <span v-else-if="lastLoaded === null">Not loaded yet!</span>
            <span v-else-if="lastLoaded === false">Loading...</span>
            <span v-else>ERROR LOADING APP</span>
        </div>
    </div>
</template>

<script>
export default {
  props: ["loaded"],
  data: function() {
    return {
      lastLoaded: null
    };
  },
  watch: {
    loaded: function(isLoaded) {
      if (isLoaded) {
        this.lastLoaded = new Date().toISOString();
      } else {
        this.lastLoaded = false;
      }
    }
  }
};
</script>

<style scoped>
.webhook-request-notifier {
  display: block;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
}
</style>
