<template>
  <div id="app" class="container">
    <h1>Habitica Webhook Manager</h1>
    <login-form @login-info="sendRequest($event)" />
    <webhook-request-notifier :loaded="loaded" />
    <webhooks-list :api="api" :webhooks="webhooks" />

    <pre>
    {{ webhooks }}
    </pre>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import LoginForm from "./components/LoginForm.vue";
import WebhooksList from "./components/WebhooksList.vue";
import WebhookRequestNotifier from "./components/WebhookRequestNotifier.vue";

import axios from "axios";

export default {
  name: "app",
  methods: {
    sendRequest: async function(loginInfo) {
      this.loginInfo = loginInfo;

      try {
        this.loaded = false;
        const resp = await this.api.get("user");
        this.loaded = true;
        this.response = resp.data;
        this.webhooks = resp.data.data.webhooks;
      } catch (error) {
        console.log(error);
      }
    }
  },
  computed: {
    api: function() {
      return axios.create({
        baseURL: "https://www.habitica.com/api/v4/",
        headers: {
          "Content-Type": "application/json",
          "x-api-key": this.loginInfo.key,
          "x-api-user": this.loginInfo.uuid
        }
      });
    }
  },
  data: function() {
    return {
      webhooks: [],
      loaded: null,
      response: "",
      loginInfo: { uuid: "", key: "" }
    };
  },
  components: {
    HelloWorld,
    LoginForm,
    WebhooksList,
    WebhookRequestNotifier
  }
};
</script>
<style lang="stylus">
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
